@import 'fonts';

$main: #080808;

$half: #91afd6;

$light: rgba(245,245,245,1);

$white: #ffffff;

$black: #000000;

$text: #707070;

$yellow: #ffd73c;;



/*********************
Font Sizes
*********************/

$xxlarge: 4em;

$xlarge: 3em;

$large: 2em;

$regular: 1.1em;

$small: .9em;

$xsmall: .7em;

$ease: cubic-bezier(0.785, 0.135, 0.150, 0.860);

$easeOut: cubic-bezier(0.075, 0.82, 0.165, 1);


$ease: cubic-bezier(.3,0,0,1);


/*********************
BREAKPOINTS
*********************/

 @mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 992px) { @content ; }
  }
   @else if $point == medium {
     @media (min-width: 768px) { @content ; }
  }

  @else if $point == mobile {
     @media (max-width: 768px)  { @content ; }

  }
}

h1, h2, h3, h4 {

  letter-spacing: .05em;
}

header, main, footer, .grid_item {
    opacity: 1;
    top: 0;
    transition: 1s $ease;
    position: relative;
}

.hidden {
    opacity: 0;
    top: 200px;
    transition: 1s $ease;

}

.loader {
    background: $black;
    position: fixed;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index:999999999;
    transition: 1s $ease;
    display: grid;

    &.on {
        top: 0;
        transition: 1s $ease;
    }
}

@for $i from 1 to 10 {
  .loading .bar:nth-child(#{$i}) { animation-delay: $i * 0.2s; }
}

@keyframes loader {
    0% {
        height: 32px;
    }

    20% {
        height: 24px;
    }

    40% {
        height: 32px;
    }

    60% {
        height: 40px;
    }

    80% {
        height: 24px;
    }

    100% {
        height: 32px;
    }
}

.loading {
    place-self: center;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    grid-template-rows: 1fr;
    opacity: 1;

    .bar {
        width: 4px;
        margin-left: 4px;
        margin-right: 4px;
        background: $white;
        animation: loader 2s infinite ease-in-out;
        display: inline-block;
        align-self: center;
    }
}


// Cursor

a {
	cursor: none;

	@include breakpoint(mobile) {
    	cursor: inherit;
	}
}

.cursor,
.follow {
    position: fixed;
    pointer-events: none;
    width: 0.5rem;
    height: 0.5rem;
    z-index: 999999;
    will-change: left, top;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);

    @include breakpoint(mobile) {
    	display: none;
	}
}

.cursor {
    background-color: $white;
    border-radius: 50%;
    //mix-blend-mode: difference;

    &.on_hover {
	    background-color: transparent;
        box-shadow: 2px 2px 5px rgba(0,0,0,0);
	}
}


.follow {
    padding: 0.4rem;
    border: 1px solid $white;
    border-radius: 2rem;
    transition: all 0.5s $easeOut;
    //mix-blend-mode: difference;
    opacity: 1;
    background: transparent;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.7);

    &.on_hover {
    	padding: 0.8rem;
	    border: 0;
	    background: $white;
	    opacity: .3;
	    // transform: scale(2);
	    // transform-origin: 100% 100%;
	}
}

[data-barba="container"] {
	top: 0;
	opacity: 1;
}

.fade_out {
	transition: 1s;
	position: relative;
	top: -100vh;
	opacity: 0;
}

.fade_in {
	transition: 1s;
	position: relative;
	top: 0;
	opacity: 1;
}





html, body {
	margin: 0;
	padding: 0;
	position: relative;
}

body {
	font-family: $font;
}


a {
	text-decoration: none;
	color: inherit;
}

html{
  font-family: $font;
  color: $white;
  background:$black;
}


/*== Helpers ==*/

img {
	max-width: 100%;
	object-fit: cover;

	&.alignleft {
	    float: left;
	    margin-right: 32px;
	    margin-bottom: 16px;
	}

	&.alignright {
	    float: right;
	    margin-left: 32px;
	    margin-bottom: 16px;
	}
}



/*== Elements ==*/

.button {
	display: grid;
	border: 2px solid $main;
	text-align: center;
	background: $main;
	padding: 8px 16px;
	cursor: pointer;

	transform: scale(1);
	transition: .3s $ease;

	&:hover {
		transform: scale(.95);
		transition: .3s $ease;
	}

	span, i {
		color: $white;
		font-size: $small;
		font-weight: 700;
		vertical-align: middle;
	}

	&.full {

	}
}

/*== NAV ==*/
.nav	{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: 64px;
	grid-template-areas: "logo center menu";
	padding: 0 16px;
	position: relative;
	z-index: 9999;
	background: $main;


	.logo {
		grid-area: logo;
		place-self: center start;

		@include breakpoint(mobile) {
			display: none;
		}

		img {
			height: 32px;
			width: 100px;
			object-fit: contain;
		}
	}

	.logo_mobile {
		display: none;

		@include breakpoint(mobile) {
			display: grid;
		}

		a {
			place-self: center start;
		}

		img {
			height: 28px;
			width: 28px;
			object-fit: contain;
		}
	}

	.center {

	}

	.menu {
		grid-area: menu;
		place-self: center end;
		display: grid;
		grid-template-rows: 1fr;
		grid-auto-flow: column;
		grid-auto-columns: auto;
		grid-gap: 16px;
		align-items: center;

		@include breakpoint(mobile) {
			display: none;
		}

		a {
			color: $white;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: bold;
			font-size: $small;
			// letter-spacing: .1em;
			transition: 1s $ease;
			position: relative;

			&:after {
				content: "";
				height: 2px;
				left: 0;
				bottom: -4px;
				width: 0%;
				height: 2px;
				background: $white;
				transition: .3s $ease;
				position: absolute;
				z-index: 1;
			}

			&:hover {

				&:after {
					width: 100%;
					transition: .3s $ease;
				}

			}
		}

		.spacer {
			display: inline-block;
			height: 1px;
			width: 96px;
			background: $main;
		}

		.social_icons {

			img {
				width: 24px;
				height: 24px;
			}
		}

		.sub-menu {
			left: -16px;
			position: absolute;
			display: none;
			list-style: none;
			padding: 8px;
			background: $main;
			width: max-content;


			li {
				padding: 8px;
			}
		}

		.menu-item {
			position: relative;
		}

		.menu-item:hover {

			.sub-menu {
				display: block;
			}
		}
	}

	.menu_trigger {
		display: none;

		@include breakpoint(mobile) {
			display: grid;
			grid-area: menu;
		}

		.menu_icon {
			place-self:center end;
			position: relative;
		}

		.bar {
			height: 2px;
			width: 32px;
			margin-top: 6px;
			margin-bottom: 6px;
			background: $white;
			transition: .2s $ease;
		}

		&.open {

			.bar {
				position: relative;
				transition: .2s $ease;

				&:nth-child(1) {
				    top: 8px;
    				left: 0px;
				    transform: rotate(45deg);

				}

				&:nth-child(2) {
					top: 0px;
				    width: 32px;
				    transform: rotate(-45deg);
				}

				&:nth-child(3) {
				    top: -8px;
				    left: auto;
				    right: 0px;
				    transform: rotate(45deg);
				}
			}
		}
	}
}


.fullscreen-menu {
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	opacity: 1;
	background: $main;
	width: 0%;
    height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 999;
	transition: .5s $ease;
	transition-delay: .5s;

	.menu-bar {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: "toggle logo .";
		grid-template-rows: 56px;
		align-items: center;

		.logo {
			grid-area: logo;
		    height: 36px;
		    width: auto;
		    padding: 0 16px;
		    justify-self: start;
		}

		.menu-toggle {
			grid-area: toggle;
			height: auto;
			width: 33px;
			padding: 0 16px;
			justify-self: start;
		}
	}

	.primary {
		padding: 92px 32px 32px 32px;

		a {
			top: 100px;
			color: $white;
			padding: 8px 0;
			position: relative;
			opacity: 0;
			display: block;
			font-size: 1.5em;
			text-decoration: none;
			cursor: pointer;
			transition-delay: 0s;
		}
	}

	.secondary {
		padding: 64px 32px 32px 32px;

		a {
			top: 100px;
			color: $main;
			padding: 8px 0;
			position: relative;
			opacity: 0;
			display: block;
			font-size: 1em;
			text-decoration: none;
			cursor: pointer;
			transition-delay: 0s;
		}
	}

	&.show {
		width: 100%;
		opacity: 1;
		transition: .5s $ease;

		.primary {

			a {
				top: 0;
				opacity: 1;
				transition-timing-function: $ease;
				transition-delay: .3s;
			}
		}

		.secondary {

			a {
				top: 0;
				opacity: 1;
				transition-timing-function: $ease;
				transition-delay: .6s;
			}
		}
	}
}

@for $i from 1 to 10 {
  .fullscreen-menu a:nth-child(#{$i}) { transition-duration: $i * 0.3s; }
}

/*== FOOTER ==*/

footer {
	padding: 32px 0 92px 0;
	//grid-template-areas: "";
	//height: 64px;
	background: $main;
	line-height: 1.2em;

	@include breakpoint(mobile) {
		padding: 32px 16px 64px 16px;
	}

	h2 {
        text-align: center;
    }

    a {
        margin-bottom: 16px;
        opacity: .5;
        transition: .5s $ease;

        &:hover {
            opacity: 1;
            transition: .5s $ease;
        }
    }
}

header {
  margin-bottom: 64px;
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr 128px;
  grid-gap: 32px;

  h1, h2 {
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;

  }

  h2 {
      margin-left: 64px;
      opacity: .5;
  }

  h3 {
      font-weight: 300;
  }

  h4 {
      margin-top: 0;
      margin-bottom: 16px;
  }

  p {
      margin: 32px 0;
      font-size: 18px;
      letter-spacing: .05em
  }


  .links a {
      display: block;
      margin-bottom: 16px;
      opacity: .5;
      transition: .5s $ease;

      &:hover {
          opacity: 1;
          transition: .5s $ease;
      }
  }
}

.page {
  max-width: 1080px;
  margin: 0 auto;
  padding: px;

  @include breakpoint(mobile) {
    padding: 16px;
  }
}

main {
    margin-bottom: 64px;

    h2 {
        margin-bottom: 32px;
    }

}


.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  grid-gap: 64px;

  @include breakpoint(mobile) {
    grid-template-columns: 1fr;
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: ""){
    content: $content;
    display: $display;
    position: $pos;
}


@mixin hovered {
    height: auto;
    max-height: 64px;
    overflow: hidden;
    transition: 1s $ease;
    transform: scale(1);
}

@mixin not-hovered {
  height: auto;
  max-height: 0px;
  overflow: hidden;
  transition: .3s $ease;
  transform: scale(.8);
}


.grid_item {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto auto auto 1fr;
  grid-template-areas:
    "title year"
    "meta meta"
    "player player"
    "descr descr"
    "cat cat"
    ". .";
  grid-gap: 8px;
  position: relative;

    &:before {
      @include pseudo;
      top: -16px;
      left: -16px;
      width: 0px;
      height: calc(100% + 32px);
      background: $white;
      opacity: .2;
      transition: 1s $ease;
    }

    .end, .prod {

    }

    .title {
      grid-area: title;
      margin: 0;
    }

    .year {
      grid-area: year;
      justify-self: end;
      font-weight: 900;
      font-size: large;
      opacity: 0.5;
    }

    .meta {
      grid-area: meta;
      font-style: italic;
      font-size: 14px;
      @include not-hovered;

      .label {
        opacity:.5;
      }
    }

    .player {
      grid-area: player;
    }

    .descr {
      grid-area: descr;
      @include not-hovered;
    }

    .cat {
      grid-area: cat;
      font-style: italic;
      justify-self: end;
      @include not-hovered;
    }

    &:hover {

      &:before {
        width: calc(100% + 32px);
        transition: .5s $ease;
      }

      .meta, .descr, .cat {
        @include hovered;
      }
    }
}
